@tailwind base;
@tailwind components;
@tailwind utilities;


@media only screen and (min-width: 1024px) and (max-width: 2560px) {
  #post {
    grid-template-columns: 3fr 1fr;
    grid-gap: 0 1rem;
  }

  #header {
    margin-bottom: 1rem;
  }

  #main {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 1024px) {

  #post {
    grid-template-columns: 1fr;
    grid-gap: 0 1rem;
  }
}




